/* Globel CSS */
body {
  font-family: Arial, sans-serif !important; 
}
/* Globel CSS */

@media screen and (min-width: 1024px) {
  .bg{
   background: url('./assets/bajiviadmin.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
  }
  .sidebar {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    margin-left: calc(50% - 300px);
  }
}

.invert-white {
  filter: invert(100%);
}